<h2 class="page-header">Blog Feed</h2>

<div class="row show-hide-message" *ngIf="message && newPost ">
	<div [ngClass]="messageClass">
		{{message}}
	</div>
</div> 

<button type="button" name="button" class="btn btn-danger" *ngIf="!newPost" (click)="newBlogForm()"><span class="glyphicon glyphicon-plus">&nbsp;</span>New Post</button>
<button [disabled]="loadingBlogs" type="button" name="button" class="btn btn-default" *ngIf="!newPost" (click)="reloadBlogs()"><span class="glyphicon glyphicon-repeat">&nbsp;</span>Reload</button>

<br><br><br>

<!-- NEW Blog Form -->
<form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">
	<!-- Title Input -->
	<div class="form-group">
		<label for="title">Title</label>
		<div [ngClass]="{ 'has-success': form.controls.title.valid, 'has-error': form.controls.title.dirty && form.controls.title.errors }">
			<input type="text" name="title" class="form-control" placeholder="*Blog Title" autocomplete="off" formControlName="title">
			<ul class="help-block">
				<li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required ">This field is required</li>
				<li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength)||(form.controls.title.dirty && form.controls.title.errors?.maxlength) ">Title must be at least 5 characters but no more than 50</li>
				<li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation ">Title must be alphanumeric</li>
			</ul>
		</div>
	</div>

	<!-- Body Input -->
	<div class="form-group">
		<label for="body">Body</label>
		<div [ngClass]="{ 'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors }">
			<textarea rows="5" cols="50" type="text" name="body" class="form-control" placeholder="*Blog Body" autocomplete="off" formControlName="body"></textarea>
			<ul class="help-block">
				<li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required ">This field is required</li>
				<li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength)||(form.controls.body.dirty && form.controls.body.errors?.maxlength) ">Title must be at least 5 characters but no more than 500</li>
			</ul>
		</div>
	</div>

	<button [disabled]="processing" type="button" name="button" class="btn btn-warning" (click)="goBack()">
		Go Back
	</button>
	<button [disabled]="processing || !form.valid" type="submit" name="button" class="btn btn-success">
		Submit
	</button>

</form>


<div *ngIf="!newPost">
	<div class="panel panel-primary" *ngFor="let blog of blogPosts">
		<div class="panel-heading">
			<h3 class="panel-title">{{ blog.title }}</h3>
		</div>
		<div class="panel-body">
			{{ blog.body }}
		</div>
		<!-- Footer start -->
		<div class="panel-footer">
			<strong>Posted by: </strong>{{ blog.createdBy }}
			<br>
			<strong>Date: </strong>{{ blog.createdAt | date:'MMM dd, yyyy' }}
			<div *ngIf=" username === blog.createdBy">
				<strong>Likes: </strong>{{blog.likes}} 
				<br>
				<strong>Dislikes: </strong>{{blog.dislikes}}
				<br>
			</div>
			
			<a [routerLink]="['/edit-blog/', blog._id]" *ngIf=" username === blog.createdBy" type="button" name="button" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-pencil">&nbsp;</span>Edit</a>
			<a [routerLink]="['/delete-blog/', blog._id]" *ngIf=" username === blog.createdBy" type="button" name="button" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-trash">&nbsp;</span>Delete</a>
			<br *ngIf=" username !== blog.createdBy">
			<!-- Likes Dropdown -->
			<div class="dropdown">
				<button [disabled]="blog.likedBy.indexOf(username) > -1" *ngIf="username !== blog.createdBy" type="button" name="button" class="btn btn-sm btn-success" 
				 (click)="likeBlog(blog._id)">
					<span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>Likes: {{blog.likes}}
				</button>
				<div class="dropdown-content">
					<a [routerLink]="['/user/', liker ]" *ngFor="let liker of blog.likedBy">{{liker}}</a>
				</div>
			</div>
			<!-- Dislikes Dropdown -->
			<div class="dropdown">
				<button [disabled]="blog.dislikedBy.indexOf(username) > -1" *ngIf="username !== blog.createdBy" type="button" name="button" class="btn btn-sm btn-danger" (click)="dislikeBlog(blog._id)">
					<span class="glyphicon glyphicon-thumbs-down">&nbsp;</span>Dislikes: {{blog.dislikes}}
				</button>
				<div class="dropdown-content">
					<a [routerLink]="['/user/', disliker ]" *ngFor="let disliker of blog.dislikedBy">{{disliker}}</a>
				</div>
			</div>
		</div>
		<!-- Footer END -->

		<ul class="list-group">
			<li class="list-group-item">
				<button type="button" name="button" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-comment">&nbsp;</span>Comments</button>
				<br>
<!-- 				<form>
					<textarea name="comment" rows="10" cols="30" class="form-control"></textarea>
					<button type="button" name="button" class="btn btn-sm btn-warning">Submit</button>
					<button type="button" name="button" class="btn btn-sm btn-danger">Cancel</button>
				</form> -->
			</li>
		</ul>

	</div>

</div>